@import url(/_assets/navbar/navbar_article.css);

/*everything else*/
body {
    background-color: rgb(220,220,220);
    font-family: serif;
}
.container {
    display:flex;
    flex-flow: row;
    justify-content: center;
}
.main {
    background-color: white;
    width: 100%;
    height:auto;
    max-width: 700px;
    min-width: none;

    justify-self: center;
    padding-left: 25px;
    padding-right: 25px;
}
.gallery {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 25px;

}
.article {
    display: block;
    width: 44.7%;
    margin: 10px;
    border-style: solid;
    border-color: rgb(220,220,220);
    border-width: 2px;
}
a {
    text-decoration: none;
}
.article:hover {
    border-color:blue;
}

.thumbnail {
    width: 100%;
    height: 100px;
}
.img-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.caption {
    padding: 0px 5px;
    height: 130px;
    overflow: hidden;
    color: black;
    
    text-overflow: ellipsis;
    content: "";
    position: relative;
}

.caption:before {
  content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 90px, white);
}

.title {
    margin: 0;
}

@media only screen and (max-width: 518px) {
  .article {
    width: 94.7%;
  }
}


