body {
    background-color: rgb(10, 35, 55);
    color: #ffffff;
    font-family: serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
.column {
    flex: 25%;
    max-width: 25%;

}  
.column img {

    vertical-align: middle;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 1000px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


/*navigation bar*/
.nav_container {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 10px;
    font-family: monospace;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    top:0;
    margin-bottom: 10px;
    width:fit-content;
    height: auto;
    background-color: lightgray;
    background-image: linear-gradient(rgb(230,230,230), rgb(150,150,150));
    text-align: left;
    align-content:center;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
    border-radius:10px;
}

.box {
    align-content: center;
    height: 50px;
    width: fit-content;
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius:10px;
}

a.navlink {
    text-decoration: none;
    color: rgb(50,50,50);
}

#home:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/favicon.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#games:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/Turning_right.png");
    background-color: white;
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#photos {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/Photos/Images/Scooter.jpeg");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#article:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("/articles_navbar.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#aquarium:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/aquarium_navbar.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}
