.text-box {
    background-color: #dff1f5;
    display: flex;
    flex-flow: column;
    padding: 0 10px 0 10px;
    border: solid 3px rgb(114,148,178);
    hr {
        color: rgb(114,148,178);
        box-shadow: none;
        border: 1px solid;
    }
    p {
        color: rgb(44, 78, 108);
    }
}

#index {
    align-self: center;
    padding: 0 20px 0 20px;
    border-radius: 20px 0;
    h2 {
        font-family: "permanent marker"; 
            color: rgb(64, 98, 128);
    text-shadow: 3px 3px #ccedcd;
    }
    p {
        color: white;
    }
    hr {
        color: white;
        box-shadow: none;
        border: solid 1px;
    }
}