@import url(/navbar/navbar_main.css);
@import url(/navbar/page_highlights/home.css);

body {
    background-color: aliceblue;
    font-family: monospace;

}
@keyframes rotate
{
     0%   { transform: rotate3d(0, 1, 0, 0deg) rotate(0); }
     25%  { transform: rotate3d(0, 1, 0, 0deg) rotate(90deg); }
     50%  { transform: rotate3d(0, 1, 0, 180deg) rotate(180deg); }
     75%  { transform: rotate3d(0, 1, 1, 180deg) rotate(270deg); }
     100% { transform: rotate3d(0, 1, 0, 0deg) rotate(360deg); }
}
#coolbird {
    border-radius: 10px;
    position:static;

    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#coolbird:hover {
    transform: scale(0.9) rotate(10deg);
}
#coolbird:active {
    transform: scale(0.8) rotate(20deg)
}


.languages {
    display:flex;
    flex-flow: row;
    align-items: center;

    
}

.lang_option {
    background-image: linear-gradient(rgba(210, 240, 255, 0.5), rgb(200, 220, 255, 0.5));

    margin: 10px;

    width: 100px;
    height: 50px;

    text-align: center;

    border-radius: 10px;
    border-style:solid;
    border-width: 2px;
    color:black;
    border-color:black;
}

a .lang_option {
    text-decoration: none;
    color: blue;
    border-color:blue;
}

.lang_option:hover {
        padding:5px;
}

.languages a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.main {
    padding-top:10px;
}
@media only screen and (max-width: 720px) {
    .main {padding-top:0;}
}


