		body {
            display:flex;
            justify-content: center;
			font-family:monospace;
			color:white;
            background-image: url(background.jpg);
            background-size:cover;    
            background-position: center top;
            background-attachment: fixed;
			padding:0;
			margin:0;
		}
        #site-title {
            display:flex;
			padding:5px;
			position:sticky;
			justify-content: space-between;
        }
        #site-icon {
			height: 55px;
            width:auto;
			margin:0 20px 0 0;
            border-radius: 7px;
		}


		.container {

			max-width: 700px;
			background-color: rgba(150,150,255,0.7);
            backdrop-filter: blur(10px);
            border-radius:10px;
            margin-bottom:20px;
            padding:20px;
		}

		.navigation {
			display:flex;
			text-align: right;
			margin-right:5px;
			width:50%;
		}

		.navigation h2 {
			font-weight: normal;
		}

		a {
			color:rgb(211,211,255);
			text-decoration: none;
		}

		hr {
			color:white;
			border-style:solid;
		}

		.wrapper {
			display:flex;
            flex-flow:column;
			justify-content: flex-start;
            height:100%;
            width: 700px;
            max-width:780px;
            padding:20px;
        }

		.content-box {
			display:flex;
			flex-flow:row;
			width:100%;
			height: 100%;
		}
		#bird {justify-content: left;}
		#drawing {justify-content: right; margin-top: 10px;}

		.caption {
			width:fit-content;
			max-width: 420px;
			height:150px;
		}

		#rightcaption {margin-left:20px;}
		#leftcaption {margin-right:20px;}

		#interest {
			width: 200px;
			height: 150px;
			object-fit: cover;
			max-width:100%;
			border-radius: 10px;
		}
