@import url(/assets/navbar/navbar_main.css);
@import url(/assets/navbar/page_highlights/aquarium.css);

body {
    background-image: url("pompanos.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: monospace;
}
h1 {
    text-align: center;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 50%;
    width: 100%;
}
.intro-paragraph {
        box-sizing: border-box;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        background-color: rgba(255, 255, 255, 0.50);
        padding: 20px;
        margin: 25px 25px 10px 25px;
        max-width: 500px;
        max-height: 500px;
        text-align: center;
        border-radius: 10px;
        ul {
            text-align: left;
        }
}
.fish {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgba(0, 0, 0, 0.50);        
    padding: 10px;
    margin: 10px 25px 25px 25px;
    max-width: 750px;
    max-height: 500px;
    border-radius: 10px;
    column-gap: 10px;
    row-gap: 10px;
    overflow: auto;
    scrollbar-width: normal;
}
.responsive {
    box-sizing: border-box;
    width: calc(25% - calc(10px - calc(10px / 3)));

    background-color: blue;
    float: left;
}
@media only screen and (max-width: 950px) {
    .responsive {
        width: calc(calc(100% / 3) - calc(10px - calc(10px / 3)));
    }    
}

@media only screen and (max-width: 825px) {
    .responsive {
      width: calc(50% - 5px);
    }
}  
@media only screen and (max-width: 380px) {
    .responsive {
      width: 100%;
    }
}
.thumbnail {
    background-color: blue;
}
.thumbnail img {
    width: 100%;
    vertical-align: middle;
    height: auto
}
