body {
    background-image: url("pompanos.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: monospace;
}
h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
    flex-basis: 50%;
}
.intro-paragraph {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        background-color: rgba(255, 255, 255, 0.50);
        padding: 25px;
        margin: 25px;
        width: 500px;
        flex-basis: 500px;
        max-height: 500px;
        text-align: center;
        border-radius: 10px;
        ul {
            text-align: left;
        }
}
.fish {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgba(255, 255, 255, 0.50);        
    padding: 25px;
    margin: 25px;
    width: 500px;
    max-height: 500px;
    border-radius: 10px;
    column-gap: 10px;
    row-gap: 10px;
    overflow: auto;
    scrollbar-width: thin;
}
.responsive {
    background-color: blue;
    float: left;
    width: 32%;
}
@media only screen and (max-width: 1500px) {
    .intro-paragraph {
        max-height:fit-content;
    }    
}

@media only screen and (max-width: 625px) {
    .intro-paragraph {
    }
    .responsive {
      width: 48%;
    }
}  
@media only screen and (max-width: 380px) {
    .responsive {
      width: 100%;
    }
}
.thumbnail {
    background-color: blue;
}
.thumbnail img {
    width: 100%;
    vertical-align: middle;
    height: auto
}

/*navigation bar*/
.nav_container {
    display:flex;
    justify-content: center;
    position: sticky;
    top: 10px;
}
.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top:0;
    margin-bottom: 10px;
    width:fit-content;
    height: auto;
    background-color: lightgray;
    background-image: linear-gradient(rgb(230,230,230), rgb(150,150,150));
    text-align: left;
    align-content:center;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
    border-radius:10px;
}

.box {
    align-content: center;
    height: 50px;
    width: fit-content;
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius:10px;
}

a.navlink {
    text-decoration: none;
    color: rgb(50,50,50);
}

#home:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/favicon.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#games:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/Turning_right.png");
    background-color: white;
    background-size: cover;
    background-position: center;
    color: white;
}

#photos:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/Photos/Images/Scooter.jpeg");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#article:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("/articles_navbar.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#aquarium {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/aquarium_navbar.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}
