@import url(/_assets/navbar/navbar_main.css);
@import url(/_assets/navbar/page_highlights/aquarium.css);

body {
    background-image: url("pompanos.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: monospace;
}
h1 {
    text-align: center;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
    flex-basis: 50%;
}
.intro-paragraph {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        background-color: rgba(255, 255, 255, 0.50);
        padding: 25px;
        margin: 25px;
        width: 500px;
        flex-basis: 500px;
        max-height: 500px;
        text-align: center;
        border-radius: 10px;
        ul {
            text-align: left;
        }
}
.fish {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgba(255, 255, 255, 0.50);        
    padding: 25px;
    margin: 25px;
    width: 500px;
    max-height: 500px;
    border-radius: 10px;
    column-gap: 10px;
    row-gap: 10px;
    overflow: auto;
    scrollbar-width: thin;
}
.responsive {
    background-color: blue;
    float: left;
    width: 32%;
}
@media only screen and (max-width: 1500px) {
    .intro-paragraph {
        max-height:fit-content;
    }    
}

@media only screen and (max-width: 825px) {
    .intro-paragraph {
    }
    .responsive {
      width: 48%;
    }
}  
@media only screen and (max-width: 380px) {
    .responsive {
      width: 100%;
    }
}
.thumbnail {
    background-color: blue;
}
.thumbnail img {
    width: 100%;
    vertical-align: middle;
    height: auto
}