@import url(/assets/navbar/navbar_main.css);
@import url(/assets/navbar/page_highlights/photos.css);

body {
    font-family: monospace;
    background-image: url(/assets/paper-texture-1510600415LYD-2931756204.jpg);
    background-size: 600px 600px;
    margin: 0;
    padding: 0;
    
}


.main {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top:10px;
    --bottom-margin: 20px;

}
.container {
    max-width: 1000px;
}

#collections {
    display:flex;
    flex-wrap: wrap;
    padding: 0;
    line-height: 0;
    align-self: center;
    margin-bottom: 20px;

    a {
        width: 20%;
    }
}
#images {
    display:flex;
    flex-wrap: wrap;
    padding: 0;
    line-height: 0;
    align-self: center;

    a {
        width: calc(100% / 3);
    }
}
#collections, #images {
    a {
        box-sizing: border-box;
        aspect-ratio: 1 / 1;
        margin: 0;
        padding: 5px;
        transition: 0.05s;     
                filter: drop-shadow(0 2px 2px black);
   
    }
    a:hover {
        transform: scale(1.05);
            filter: drop-shadow(0 5px 4px black);
    }
    img {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin: 0;
        padding: 0;
        image-rendering: crisp-edges;
    }
    .collection-thumbnail {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        background-size: cover;
        margin: 0;
        padding: 0;
        display: flex; flex-flow: column; justify-content: end;
    }
}
.category-label {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 0; bottom: 0%;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(5px);

    box-sizing: border-box;
    padding-left: 3px;

    color: black;
    font-size: larger;
}
#collections a {
    text-decoration: none !important;
    font-weight: bold;
}

@media only screen and (max-width: 850px) {
    #images a {
        width: 50%;
    }
    #collections a {
        width: 25%;
    }
}

@media only screen and (max-width: 720px){
    #main {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}


@media only screen and (max-width: 600px) {
    #images a {
        width: 100%;
    }
    #collections a {
        width: calc(100% / 3);
    }
}

@media (prefers-color-scheme: dark) {
    .main {
        color: white;
        a {
            color:#f9ff8a;
        }
    }
    html, body {
        backdrop-filter: invert(100%);
    }
}