#photos {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/photos_navbar.jpg");
    background-size: cover;
    background-color: white;
    background-position: center;
    color: white;
}
