#home:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/home_navbar.png");
    background-size: cover;
    background-color: white;
    background-position: center;
    color: white;
}

#games:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/games_navbar.png");
    background-color: white;
    background-size: cover;
    background-position: center;
    color: white;
}

#photos:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/photos_navbar.jpg");
    background-size: cover;
    background-color: white;
    background-position: center;
    color: white;
}

#article:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("/assets/navbar/articles_navbar.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#aquarium:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/aquarium_navbar.png");
    background-size: cover;
    background-color: white;
    background-position: center;
    color: white;
}

#settings {
    background-color: rgb(25, 25, 30);
    color:white;
}