body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    font-family: monospace;
}
h1 {
    text-align: center;
}
.container {
        display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
    flex-basis: 100%;
}
.image {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    flex-basis: 100%;
    max-width: 1100px;
    justify-content: center;
    justify-self: center;
}
.image img {
    width: 100%;
    height: auto;
}
.text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    border-color:white;
    border-width: 3px;
    border-style:groove;
    padding: 25px;
    margin: 15px;
    flex-basis: 100%;
    max-width: 1000px;
    text-align: center;
    color: white;
    border-radius: 10px;
        ul {
            text-align: left;
        }
}
hr {
    width: 75%;
}

a {color:#8787a5;}

/*navigation bar*/
.nav_container {
    justify-items: left;
    top: 10px;
    
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    overflow-x:scroll;
    top:0;
    margin-bottom: 10px;
    width:100%;
    height: auto;
    text-align: left;
    align-content:center;
    align-items: center;
    justify-content: flex-start;


}

.box {
    align-content: center;
    height: 30px;
    width: fit-content;
    margin-top: 10px;
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 50px;
}

a.navlink {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

#home:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/home_navbar.png");
    background-size: cover;
    background-position: center;
    color: white;
}

#games:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/games_navbar.png");
    background-color: white;
    background-size: cover;
    background-position: center;
    color: white;
}

#photos:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/photos_navbar.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

#article:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("/assets/navbar/articles_navbar.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}


#aquarium {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/aquarium_navbar.png");
    background-size: cover;
    background-position: center;
    color: white;
}

#settings:hover {
    background-color: rgb(25, 25, 30);
    color:white;
} 