@import url(/assets/navbar/navbar_article.css);

body {
    background-color: rgb(220,220,220);
}
.container {
    display:flex;
    flex-flow: row;
    justify-content: center;
}
.main {
    background-color: white;
    display: flex;
    flex-flow: column;
    max-width: 700px;
    min-width: none;
    height: 100%;
    justify-self: center;
    padding-left: 25px;
    padding-right: 25px;
}
.main img {
    width: 100%;
}

.text {
    p {
        text-indent: 30px;
    }
}
