#home {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/_assets/navbar/home_navbar.png");
    background-size: cover;
    background-color: white;
    background-position: center;
    color: white;
}