@import url(/assets/navbar/navbar_main.css);
@import url(/assets/navbar/page_highlights/games.css);

body {
    background-color: rgb(80, 86, 156);
    font-family: sans-serif;
    width: 100%;
    padding:0;
    margin:0;
}
a {
    color: #d4d3ff;
}

hr {
    width: 100%;
    margin-left: 0%;
            color:white;
}

.main {
    display:flex;
    flex-flow: row;
    justify-content: center;
}

.container {
padding: 50px;
padding-top:25px;
color:white;
width: 100%;
max-width: 1000px;
}