body {
    background-color: aliceblue;
    font-family: monospace;
}

img {
    border-radius: 10px;
}

.languages {
    display:flex;
    flex-flow: row;
    align-items: center;

    
}

.lang_option {
    background-image: linear-gradient(rgba(210, 240, 255, 0.5), rgb(200, 220, 255, 0.5));
    font-size: 100%;

    margin: 10px;

    width: 100px;
    height: 50px;

    align-content: center;
    text-align: center;

    border-radius: 10px;
    border-style:solid;
    border-width: 2px;
}

.lang_option:hover {
    font-size: 150%;
    height: 150%;
}

.languages a {
    text-decoration: none;
    color: blue;
}

.languages a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*navigation bar*/
.nav_container {
    display:flex;
    justify-content: center;
    position: sticky;
    top: 10px;
}
.navbar {
    justify-self: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    top:0;
    margin-bottom: 10px;
    width:fit-content;
    height: auto;
    background-color: lightgray;
    background-image: linear-gradient(rgb(230,230,230), rgb(150,150,150));

    box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
    border-radius:10px;
}

.box {
    align-content: center;
    height: 50px;
    width: fit-content;
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius:10px;
}

a.navlink {
    text-decoration: none;
    color: rgb(50,50,50);
}

#home {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/navbar/home_navbar.png");
    background-size: cover;
    background-color: white;
    background-position: center;
    color: white;
}

#games:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/navbar/games_navbar.png");
    background-color: white;
    background-size: cover;
    background-position: center;
    color: white;
}

#photos:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/navbar/photos_navbar.jpg");
    background-size: cover;
    background-color: white;
    background-position: center;
    color: white;
}

#article:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("/navbar/articles_navbar.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#aquarium:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/navbar/aquarium_navbar.png");
    background-size: cover;
    background-color: white;
    background-position: center;
    color: white;
}